body {
  font-family: 'Titillium Web', Helvetica,  sans-serif;
  font-size: 10px;

}
.testselect{
  text-align: center;
  margin: 10px 10px 20px 40px;
}
.chart { 
  background: #fff;
/*  position: static;
*/  font-family: 'Titillium Web', Helvetica,  sans-serif;

}

p {
  font: 12px;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}
.departIDtxt p{
  font-size: 12px;
  display: inline-block;
  padding: 2px;
  margin-left: 20px;
  color: white;
  font-weight: bold;
  background-color: black;
  opacity: 0.7
}
button {
  right: 50px;
  top: 10px;
}

#tipInfo{
  line-height: 1;
  font-weight: bold;
  padding: 5px;
  background-color: black;
  color: white;
  border-radius: 2px;
  text-align: left;
  list-style: none;
  opacity: 0.7;
}

#tipInfo:after{
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: black;
/*  content: "\25BC";
*/  position: absolute;
  text-align: center;
  margin-top: 7px;
  margin-left: -8px;
  opacity: 0.7;  
}